/*
 * Custom CSS
 *
 * Modified: 2016/02/07
 * @author softwarespot
 */

/* Body styling */
body {
    background: #fafafa;
    color: #222;
    font-family: 'Open Sans', sans-serif, Arial;
}

/* Style a links as well as increasing the clickable area */
a {
    background: transparent;
    color: #2980b9;
    margin: -.5em;
    padding: .5em;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #3498db;
}

a img {
    transition: transform .3s ease-out;
}

a img:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

/* Navigation */
nav {
    /* display: block; */

    /* padding: 5px; */
}

nav a {
    /* float: right; */
    background: #ecf0f1;
    display: inline-block;
    padding: 15px;
    margin: 0 2.5px 0 0;
}

.container {
    padding: 20px 20px;
    text-align: center;
    width: 100%;
}

.error-box {
    background: #e74c3c;
    display: inline-block;
    padding: 20px;
}

.orange {
    background: #e67e22;
}

.red {
    background: #e74c3c;
    color: #fafafa;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Mobile first queries */

/* Larger than mobile */

/* @media (min-width: 400px) {
} */

/* Larger than phablet */

/* @media (min-width: 550px) {
} */

/* Larger than tablet */

/* @media (min-width: 750px) {
} */

/* Larger than desktop */

/* @media (min-width: 1000px) {
} */

/* Larger than Desktop HD */

/* @media (min-width: 1200px) {
} */

/* Skeleten CSS override */
.button-primary {
    background: #3498db;
}

.button-primary:hover {
    background: #2980b9;
}
